/********header************/
.header {
  margin: 8px;
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 8px;
  box-shadow: 1px 1px 4px #303a52;
}
.first {
  background-color: #f0f0f0;
  position: relative;
  aspect-ratio: 9/ 10;
  margin: 8px;
}
.second {
  position: relative;
  background-color: #575151;
  aspect-ratio: 9 / 10;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderText {
  text-align: center;
  padding: 8px;
}
.third {
  background-color: #f0f0f0;
  position: relative;
  margin: 8px;
  aspect-ratio: 9 / 10;
}
@media screen and (max-width: 800px) {
  .header {
    margin: 8px;
    margin-top: 24px;
  }
}
/***************main****************/
.main {
  padding: 24px;
}
.mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.stuffBox {
  aspect-ratio: 9 / 9;
  border-radius: 50%;
  margin: 24px;
  background-color: #a7ff83;
  position: relative;
  border: 2px solid #17b978;
}
.stuffImg {
  border-radius: 50%;
  border: 2px solid #17b978;
}
@media screen and (max-width: 800px) {
  .main {
    padding: 8px;
  }
  .mainGrid {
    grid-template-columns: 1fr 1fr;
  }
  .stuffBox {
    margin: 16px;
  }
}
